/* === body background linear-gradient === */
@mixin linear-gradient($color-one, $color-two, $color-three, $color-four) {
    
    background-image: linear-gradient(45deg, $color-one 12.50%, $color-two 12.50%, $color-two 25%, $color-three 25%, $color-three 37.50%, $color-four 37.50%, $color-four 50%, $color-one 50%, $color-one 62.50%, $color-two 62.50%, $color-two 75%, $color-three 75%, $color-three 87.50%, $color-four 87.50%, $color-four 100%);
} 


/* Basic Styling Links */
@mixin links_desktop($deco, $dark-font-color, $links-font-size_desktop, $font-weight) {
    text-decoration: $deco;
    color: $dark-font-color;
    font-size: $links-font-size_desktop;
    font-weight: $font-weight;
}

@mixin links_laptop($deco, $dark-font-color, $links-font-size_laptop, $font-weight) {
    text-decoration: $deco;
    color: $dark-font-color;
    font-size: $links-font-size_laptop;
    font-weight: $font-weight;
}


