/* === Fonts general styles === */
$light-font-color: rgb(251, 251, 251);
$dark-font-color: rgb(37, 35, 35);
$font-family: Arial, sans serif;

/* === Linear Gradient === */
$color-one: #5bf2fd;
$color-two: #fcc736;
$color-three: #fd5f5f;
$color-four: #bb4dfa;

/* === Links extra properties === */
$deco: none;
$links-font-size_desktop: 50px;
$links-font-size_laptop: 35px;
$links-font-size_tablet: 25px;
$font-weight: bold;






